#modal{
    width:400px;
    height:300px;

    border-radius: 5px;
    padding: 20px;
    background-color:#54BAF0;
    position: relative;
}

#usuario,#senha,.btn{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 18px;
    border: none;
}
.btn{
    margin-top:10px;
    cursor: pointer;
    
}
#usuario{
    margin-bottom:15px;
}
#usuario:focus,#senha:focus{
    background-color: white;
}
.icons-close{
    position: absolute;
    top:10px;
    right: 15px;
}

#senha{
    margin-bottom: 10px;
}
#modal  a{
    text-decoration:none;
    color:rgb(34, 24, 24);
    
    
    
}
#modal a:hover{
    text-decoration: underline black;
    color: white;
}
#modalcadastro{
    width: 800px;
    height:500px;
    border-radius: 5px;
    
    background-color:#54BAF0;

    position: relative;
    

    
}
fieldset{
    border:0;
}
fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}
input{
    font-family: sans-serif;
    font-size: 1em;
    color:#594d9d;
    border-radius: 5px;
}
.campo{
    margin-bottom: 1em;
}
.campo input[type="text"], .campo input[type="email"],.campo input[type="tel"],.campo input[type="password"]{
    height:50px;
    width:270px;
    box-sizing: border-box;
}
.campo label{
    display: block;
    margin-bottom: 0.2em;
    color:black;
}
.modalcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.campo_inline-block{
    display: flex;
}
.botao-cadastrar{
    background: #5459F0;
    color:#ffffff;
    border: none;
    width: 150px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    
}
.botao-cadastrar:hover{
    background-color: #548AF0;
    color:#302c2c;
}

/*
.row{
    display: flex;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.row2{
    display:flex;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.row .field{
    flex:1;
    margin-right: 10px;
}
.row2 .field{
    flex:1;
    margin-right: 10px;
}
.row .field:last-child{
    margin-right: 0;
}
.row .field:last-child{
    margin-right:0 ;
}
label{
    display:block;
    margin-bottom: 5px;
    font-weight: bold;
}
*/
.button-close_cadastro{
    position: absolute;
    top:10px;
    right: 15px;
}

.btn-button_enviar_cadastro{
    margin-top: 10px;
}